:root {
  --color-bg: #313131;
  --color-white: #f5f5f5;
}

body {
  background-color: var(--color-bg);
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-white);
}
a {
  text-decoration: none;
  color: var(--color-white);
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav__btn {
}
