:root {
  --color-bg: #313131;
  --color-white: #f5f5f5;

  --space-s: clamp(0.85rem, 0.1449rem + 1.0227vw, 1.3rem);
  --space-m: clamp(1.5rem, 0.2017rem + 2.1591vw, 1.875rem);
  --space-l: clamp(1.7rem, 1.7rem + 3.1818vw, 2.8125rem);
  --space-xl: clamp(1.375rem, 0.4034rem + 4.3182vw, 3.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.375rem, -0.2386rem + 2.7273vw, 1.875rem);
  --space-2xs-xs: clamp(0.6875rem, -0.1818rem + 3.8636vw, 2.8125rem);
  --space-xs-s: clamp(1.0625rem, -0.0369rem + 4.8864vw, 3.75rem);
  --space-s-m: clamp(1.375rem, -0.3636rem + 7.7273vw, 5.625rem);
  --space-m-l: clamp(2.0625rem, -0.1619rem + 9.8864vw, 7.5rem);
}

body {
  background-color: var(--color-bg);
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-white);
}
h1,
h2,
h3 {
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  padding: 1rem;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
p {
  font-size: var(--space-s);
  padding: 1rem;
}
img {
  height: auto;
  width: 100%;
}
nav {
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.6rem 1rem 0.6rem;
  margin-bottom: 2rem;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}
.footer__logo {
  width: 40%;
}
.footer__cta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__bron {
  padding: 0.2rem;
  font-style: italic;
  text-decoration: underline;
}
.footer__bron:hover {
  cursor: pointer;
}
.bi {
  padding: 0.6rem;
}
.footer__icons {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.nav__btn {
  font-family: 'Russo One', sans-serif;
  border: 0.15rem solid var(--color-white);
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-size: var(--space-s);
  text-align: center;
  margin: 1rem;
}
.text-center {
  text-align: center;
}
.nav__logo {
  height: auto;
  width: 45%;
}

.hero__elements {
  position: relative;
}
.hero__position {
  position: absolute;
  z-index: 2;
}
.hero__img {
  position: relative;
  z-index: 3;
}
.hero__pattern {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.hero__pattern-desktop {
  margin-top: -4rem;
  z-index: -1;
}
.hero__title {
  font-size: var(--space-xl);
  padding-left: 3rem;
}
.hero__title-mobile {
  position: absolute;
  top: 6.5%;
  z-index: 2;
  font-size: var(--space-l);
}
.desktop-appear {
  display: none;
}
.desktop-text-appear {
  font-size: var(--space-m);
}
.card {
  color: var(--color-white);
  margin-top: 2rem;
  padding: 1rem;
}
.section__title {
  font-size: var(--space-m);
}

.section__text {
  font-size: var(--space-m);
  z-index: 1;
}
.section__paragraph {
  margin-top: -5rem;
  max-width: 40%;
}

.section--bold {
  font-weight: bold;
}
.section-store {
  display: flex;
  align-items: start;
}

.section-store__imgs {
  position: relative;
}
.section-last {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-last__dumbbell {
  max-width: 30%;
  position: absolute;
  left: 40%;
  bottom: 80%;
  z-index: 0;
}
.section-last__imgs {
  position: relative;
}
.section-last__dirk {
  position: absolute;
  max-width: 30%;
  bottom: 0;
  z-index: 2;
}
.section-last__dumbbell {
  max-width: 30%;
  position: absolute;
  bottom: 70%;
  z-index: 0;
}
.section-last__ps3 {
  position: absolute;
  max-width: 25%;
  right: 6%;
  bottom: 70%;
}
.section-last__store {
  position: relative;
  z-index: 1;
}

.section__digicam {
  max-width: 70%;
  display: block;
  margin: auto;
  margin-top: -7rem;
}
.section-runways {
  text-align: end;
  justify-self: end;
}
.section-runways__img {
  max-width: 30%;
  margin: 0 auto;
}
.section-runways__interactive {
  position: relative;
}

.section-runways__cabinet {
  position: absolute;
  right: 15%;
  top: 60%;
  z-index: 2;
}
.section-runways__boots {
  position: absolute;
  max-width: 36%;
  top: 110%;
  right: 0;
}
.section-runways__sketches {
  position: absolute;
  top: 30%;
  right: 2.7%;
}
.section-runways__folders {
  position: absolute;
  max-width: 42%;
  top: 41%;
  left: 30%;
  rotate: -12.5deg;
  z-index: 1;
}
.top-2 {
  margin-top: 2rem;
}
.bottom-1 {
  margin-bottom: 1rem;
}
.bottom-2 {
  margin-bottom: 2rem;
}
.row {
  display: flex;
  flex-direction: row;
}

.section-pinboard {
  max-width: 70%;
  display: block;
  margin: auto;
  position: relative;
}
.section-pinboard__calendar {
  max-width: 30%;
  position: absolute;
  top: 30%;
  left: 40%;
}
.section-pinboard__photo {
  max-width: 30%;
  position: absolute;
  top: 50%;
  left: 10%;
  rotate: 7deg;
}
.section-table {
  position: relative;
  margin-top: 4rem;
}
.section-table__cappuccino {
  position: absolute;
  top: -20%;
  right: 10%;
  max-width: 40%;
}
.card__text {
  color: var(--color-white);
  padding: 16px;
}
.section-last__text {
  z-index: 3;
}

@media (min-width: 577px) {
  .mobile-appear {
    display: none;
  }
  .desktop-appear {
    display: block;
  }
  .hero__pattern {
    top: 0;
    left: 56%;
    width: 36%;
  }
  .section-runways {
    margin-top: -16rem;
  }
  .section-runways__paragraph {
    max-width: 50%;
  }
  .section-runways__right {
    max-width: 50%;
    padding-right: 5rem;
  }
  .section-store__paragraph {
    padding-left: 3rem;
    max-width: 50%;
  }
  .section-store__title {
    padding-left: 3rem;
  }
  .section-store__pic1,
  .section-store__pic2,
  .section-store__pic3,
  .section-store__pic4,
  .section-store__pic5,
  .section-store__pic6 {
    position: absolute;
    max-width: 35%;
    margin: 2rem;
  }
  .section-store__pic1 {
    left: 8%;
    top: 0;
    max-width: 42%;
    rotate: -2deg;
  }
  .section-store__pic2 {
    rotate: 5deg;
    top: 0;
    right: 0;
  }
  .section-store__pic3 {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
  }
  .section-store__pic4 {
    left: 7%;
    bottom: 0;
    max-width: 22%;
    rotate: -23deg;
  }
  .section-store__pic5 {
    left: 6%;
    bottom: 0;
    max-width: 30%;
  }
  .section-store__pic6 {
    right: 0;
    bottom: 5%;
    max-width: 27%;
  }
  .section-last__text {
    max-width: 60%;
  }
  footer {
    display: block;
    padding: 0 2rem;
  }
  .footer__bronnen {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: end;
  }
}
