:root {
  --color-bg: #313131;
  --color-white: #f5f5f5;
  --space-s: clamp(0.85rem, 0.1449rem + 1.0227vw, 1.3rem);
  --space-m: clamp(1.5rem, 0.2017rem + 2.1591vw, 1.875rem);
  --space-l: clamp(1.7rem, 1.7rem + 3.1818vw, 2.8125rem);
  --space-xl: clamp(1.375rem, 0.4034rem + 4.3182vw, 3.5rem);
}

body {
  background-color: var(--color-bg);
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-white);
  overflow-x: hidden !important;
}

h1,
h2,
h3 {
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  padding: 1rem;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
a:hover {
  color: #3f84e5;
  transition: 0.2s;
}
p {
  font-size: var(--space-s);
  padding: 0 1rem;
}
img {
  height: auto;
  width: 100%;
}
nav {
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.6rem 1rem 0.6rem;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  background-image: url(../img/bg-noise-gradient.avif);
  background-position: center;
  background-size: cover;
}
.top-2 {
  margin-top: 2rem;
}
.bottom-1 {
  margin-bottom: 1rem;
}
.bottom-2 {
  margin-bottom: 2rem;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.text-center {
  text-align: center;
}
.desktop-appear {
  display: none;
}
.desktop-text-appear {
  font-size: var(--space-m);
}

.bi {
  padding: 0.6rem;
}
.bi-x {
  position: relative;
  top: 0;
  font-size: 3rem;
  display: none;
}

.bi:hover {
  color: #3f84e5;
  transition: 0.2s;
  cursor: pointer;
}
.nav__btn {
  font-family: 'Russo One', sans-serif;
  border: 0.15rem solid var(--color-white);
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-size: var(--space-s);
  text-align: center;
  margin: 1rem;
}
.nav__logo,
.footer__logo {
  width: 45%;
  padding-left: 0.5rem;
}
.header-bg {
  background-image: url('../img/bg-noise-gradient.avif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__elements {
  position: relative;
}
.hero__position {
  position: absolute;
  z-index: 2;
}
.hero__img {
  position: relative;
  margin-top: 1.4rem;
  z-index: 3;
}
.hero__antwerp {
  position: relative;
  z-index: 1;
}
.hero__pattern {
  position: absolute;
  bottom: 25%;
  left: 0;
  z-index: 0;
}
.hero__flash1 {
  position: absolute;
  max-width: 30%;
  top: -18%;
  left: 25%;
  z-index: 3;
}
.hero__flash2 {
  position: absolute;
  max-width: 30%;
  top: -5%;
  left: 40%;
  z-index: 3;
}
.hero__flash3 {
  position: absolute;
  max-width: 30%;
  top: -12%;
  left: 0;
  z-index: 3;
}
.hero__flash4 {
  position: absolute;
  max-width: 30%;
  top: 7%;
  left: 27%;
  z-index: 3;
}
.hero__pattern-desktop {
  margin-top: -5.5rem;
  z-index: 0;
}
.hero__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.hero__overlay--mobile {
  position: absolute;
  height: 100%;
  z-index: 4;
}
.hero__title {
  font-size: var(--space-xl);
  padding-left: 2rem;
}
.hero__title-mobile {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  font-size: var(--space-l);
}
.section__title {
  font-size: var(--space-m);
}
.section__text {
  font-size: var(--space-m);
  z-index: 2;
}

.section__paragraph {
  margin-top: -5rem;
  max-width: 40%;
  position: relative;
  z-index: 2;
}
.section--bold {
  font-weight: bold;
}
.card {
  color: var(--color-white);
  padding: 0 1rem;
}
.section-store {
  display: flex;
  align-items: center;
}
.section-store__imgs {
  position: relative;
}
.section__img {
  position: relative;
  z-index: 1;
}
.section__flash {
  position: absolute;
  top: -50%;
  left: 13%;
  max-width: 70%;
}
.section__digicam {
  max-width: 70%;
  display: block;
  margin: auto;
  margin-top: -7rem;
  position: relative;
}

.section-hovers {
  background-image: url(../img/concrete-wall-grey.avif);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.section__cards {
  position: relative;
  width: 100%;
  z-index: 2;
  align-items: center;
  justify-content: center;
}

.section-runways__cabinet {
  position: absolute;
  right: 15%;
  top: 60%;
  z-index: 2;
}
.section-runways__boots {
  position: absolute;
  max-width: 30%;
  top: 110%;
  right: 0;
}

.section-runways__behind {
  transition: 0.3s;
}
.section-runways__sketches:hover,
.section-runways__behind:hover {
  cursor: pointer;
  transform: translateY(-1rem);
}

.section-runways__sketches {
  position: absolute;
  top: 30%;
  right: 0%;
  padding: 1rem;
  transition: 0.3s;
  z-index: 1;
}
.section-runways-shuffle{
  text-align: center;
}
.section-runways__folders {
  position: absolute;
  max-width: 42%;
  top: 33%;
  left: 31%;
  rotate: -12.5deg;
  z-index: 1;
}
.section-runways__interactive {
  position: relative;
}
.section-runways {
  display: flex;
  flex-direction: column-reverse;
}
.clicked-content,
.clicked-content-runway {
  width: 100%;
  height: 100%;
  padding: 7rem 0;
  z-index: 4;
}
.section-pinboard {
  max-width: 70%;
  display: block;
  margin: auto;
  position: relative;
}
.section-pinboard__calendar {
  max-width: 30%;
  position: absolute;
  top: 30%;
  left: 40%;
  transition: 0.3s;
}
.section-pinboard__calendar:hover,
.section-pinboard__photo:hover,
.section-table__cappuccino:hover {
  transition: 0.3s;
  transform: translateX(-0.7rem);
  cursor: pointer;
}
.section-puntjes {
  position: relative;
  z-index: 3;
}
.section-pinboard__photo {
  max-width: 30%;
  position: absolute;
  top: 50%;
  left: 10%;
  rotate: 7deg;
  transition: 0.3s;
}
.card1,
.card2,
.card3 {
  opacity: 0;
  transition: 0.5s;
}

.card1 {
  max-width: 20%;
  padding: 1rem;
  background-color: var(--color-white);
  color: var(--color-bg);
  margin: 2rem;
  position: absolute;
  z-index: 4;
  box-shadow: -0.5rem 1rem 0.9rem rgba(0, 0, 0, 0.181);
}
.card2 {
  max-width: 20%;
  padding: 1rem;
  z-index: 4;
  background-color: var(--color-white);
  color: var(--color-bg);
  margin: 2rem;
  position: absolute;
  right: 10%;
  box-shadow: -0.5rem 1rem 0.9rem rgba(0, 0, 0, 0.181);
}
.card3 {
  max-width: 25%;
  position: absolute;
  top: 40%;
  right: 25%;
  z-index: 3;
  background-color: var(--color-white);
  color: var(--color-bg);
  margin: 2rem;
  box-shadow: -0.5rem 1rem 0.9rem rgba(0, 0, 0, 0.181);
}

.card__text {
  padding: 1rem;
}

.section-table {
  position: relative;
  margin-top: 1.5rem;
}
.section-table__cappuccino {
  position: absolute;
  top: -20%;
  right: 10%;
  max-width: 40%;
  transition: 0.3s;
}
.section-last {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-last__imgs {
  position: relative;
  margin-top: 6.8rem;
}
.section-last__dumbbell {
  max-width: 30%;
  position: absolute;
  left: 40%;
  bottom: 80%;
  z-index: 0;
}
.section-last__dirk {
  position: absolute;
  max-width: 30%;
  bottom: 0;
  z-index: 2;
}
.section-last__ps3 {
  position: absolute;
  max-width: 25%;
  right: 6%;
  bottom: 70%;
}
.none {
  display: none;
}
.section-last__store {
  position: relative;
  z-index: 1;
}
.section-last__text {
  position: relative;
  z-index: 3;
}
.footer__icons {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.footer__cta {
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
.footer__bron {
  padding: 0.33rem;
  font-style: italic;
  text-decoration: underline;
}

.footer__bron:hover {
  cursor: pointer;
  color: #3f84e5;
  transition: 0.2s;
}

.swiper-runway {
  height: 25rem !important;
  width: 15rem !important;
}
.swiper:hover {
  cursor: grab;
}
.swiper-interview,
.swiper-sketches,
.swiper-flagship {
  height: 12rem !important;
  width: 15rem !important;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #3f84e5;
  box-shadow: -0.5rem 1rem 0.9rem rgba(0, 0, 0, 0.181);
}
.textile-interaction {
  position: relative;
  overflow: hidden;
}

.textile-img {
  display: flex;
  flex-direction: row;
  position: absolute;
  max-width: 50%;
  margin: 0 auto;
  z-index: 4;
}
.up {
  position: relative;
  animation: upMotion 1.5s ease-out;
  animation-fill-mode: forwards;
}
.down {
  position: relative;
  animation: downMotion 1.5s ease-out;
  animation-fill-mode: forwards;
}
.section-store__pic4 {
  transition: 0.4s;
}
.section-store__pic4:hover {
  transform: translateX(1rem);
  rotate: 0.3deg;
  transition: 0.4s;
  cursor: grab;
}

@keyframes downMotion {
  from {
    top: 0px;
    opacity: 1;
  }
  to {
    top: 200px;
    opacity: 0;
  }
}
@keyframes upMotion {
  from {
    top: 0px;
    opacity: 1;
  }
  to {
    top: -200px;
    opacity: 0;
  }
}
@media (min-width: 36.0625rem) {
  .mobile-appear {
    display: none;
  }

  .desktop-appear {
    display: block;
  }
  .hero__pattern {
    top: 0;
    left: 56%;
    width: 36%;
  }
  .section-runways {
    margin-top: -9rem;
    text-align: end;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 4;
  }
  .section-runways__paragraph {
    max-width: 50%;
  }
  .section-runways__right {
    max-width: 50%;
    padding-right: 2rem;
  }
  .section-store__paragraph {
    padding-left: 3rem;
    max-width: 50%;
  }
  .section-store__pic1,
  .section-store__pic2,
  .section-store__pic3,
  .section-store__pic4,
  .section-store__pic5,
  .section-store__pic6 {
    position: absolute;
    max-width: 35%;
    margin: 2rem;
  }
  .section-store__pic1 {
    left: 8%;
    top: 0;
    max-width: 42%;
    rotate: -2deg;
  }
  .section-store__pic2 {
    rotate: 5deg;
    top: 0;
    right: 0;
  }
  .section-store__pic3 {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
  }
  .section-store__pic4 {
    left: 7%;
    bottom: 0;
    max-width: 22%;
    rotate: -23deg;
  }
  .section-store__pic5 {
    left: 6%;
    bottom: 0;
    max-width: 30%;
  }
  .section-store__pic6 {
    right: 0;
    bottom: 5%;
    max-width: 27%;
  }
  footer {
    display: block;
    padding: 0 2rem;
  }
  .footer__bronnen {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: end;
    padding-bottom: 3rem;
  }
  .clicked-content,
  .clicked-content-runway {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 8%;
    padding: 7rem 0;
    background-color: rgba(0, 0, 0, 0.755);
    z-index: 4;
    display: none;
  }
  .bi-x {
    display: block;
  }
}
@media (min-width: 769px) {
  .section-runways__cabinet {
    position: absolute;
    top: 65%;
    z-index: 2;
  }
  .section-store {
    margin-top: 7rem;
  }
}

@media (min-width: 62.0625rem) {
  .section-runways {
    margin-top: -11rem;
  }
  .section-last__text {
    max-width: 57%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .swiper-runway {
    width: 15rem;
    height: 20rem;
  }
  .swiper-interview {
    height: 17rem !important;
    width: 22rem !important;
  }
  .section-table {
    position: relative;
    margin-top: 2rem;
  }
  .section-table__cappuccino {
    position: absolute;
    top: -24%;
    right: 10%;
    max-width: 40%;
  }
  .section-hovers {
    background-image: url(../img/concrete-wall-grey.avif);
    background-position: top center;
    background-repeat: no-repeat;
  }
}
@media (min-width: 75.0625rem) {
  .section-runways {
    margin-top: -16rem;
  }
  .section-last__imgs {
    position: relative;
    margin-top: 19rem;
  }
  .swiper-runway {
    width: 20rem !important;
    height: 33rem !important;
  }
  .section-store {
    margin-top: 20rem;
  }
  .swiper-interview,
  .swiper-sketches {
    height: 24.7rem !important;
    width: 35rem !important;
  }
}
@media (min-width: 1401px) {
  .textile-img {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: auto;
    margin: 0 auto;
    min-width: 100%;
    z-index: 4;
  }
}
